.form-control {
  border: 1px solid $escala-de--cinza---cinza--primario;
  padding: 16px;
  border-radius: 8px;
  color: $escala-de--cinza---cinza--escuro;
}

.form-select option:disabled, .form-select.form-control {
      color: #8293A2;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #8293A2;
            opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #8293A2;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: #8293A2;
 }

 select:disabled {
    color: #8293A2;
 }
